@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color0:#2d2c2e;
    --color1:#fafafa;
    --color2:#fbbd0d;
    --color3:#ec0b43;
    --font-default:"Montserrat", sans-serif;
    --font-heading:"Bebas Neue", sans-serif;
    --font-logo: "Ma Shan Zheng", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 360px;
    background-color: var(--color1);
    font-family: var(--font-default);
    font-size: 1em;
    color: var(--color0);

    overflow-x: hidden;
}

/*---------- header section ---------- */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    padding: 5px 5px;
}

.header__logo-container {
    margin-left: 10px;
}

.header__logo {
    font-family: var(--font-logo);
    font-size: 3em;
    font-weight: lighter;
}

.header__button {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    background-color: inherit;
    border: none;
    color: var(--color0);
}

.material-symbols-outlined { 
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 40,
    'opsz' 24;
    color: var(--color0) !important;
}

.header__nav {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: var(--color0);
}

.show {
    display: flex; 
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    width: 100%;
}

.header__nav-list a {
    height: 80px;
    text-decoration: none;
    border-bottom: 1px solid var(--color2);
}

.header__nav-list a:first-child:hover {
    border-top: 1px solid var(--color0);
}

.header__nav-item {
    height: 100%;
    padding: 30px;
    text-align: center;
    color: var(--color2);
}

.header__nav-list a:last-child {
    border-bottom: none;
}

.header__nav-item:hover {
    background-color: var(--color2);
}


.header__nav-item:hover {
    color: var(--color0);
}

/*---------- profile section ---------- */

.profile {
    min-height: 650px;
    /*height: 610px; tamaño fijo en píxeles para que no colapsen los elementos internos al redimencionar la altura de la página*/
    background-color: var(--color1);
}

.profile__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile__img-container {
    max-height: 250px;
    overflow: hidden;
}

.profile__img {
    height: 250px;
    width: 992px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

/*
.profile__data-container {
    flex-grow: 1;
} */

.profile__data {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 15px 0 15px;
}

.profile__desktop-title-container {
    display: none;
}

.profile__mobile-title {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 2.5em;
    padding-top: 15px;
    line-height: 1em;
}

.profile__description p {
    max-width: 600px;
    margin-top: 10px;
    font-size: 0.9em;
    text-wrap: pretty;
}

.profile__description p:first-child {
    margin-top: 0;
}

.profile__description p:nth-child(3) {
    margin-bottom: 5px;
}

.profile__links-list {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile__links-list a {
    text-decoration: none;
}

.profile__links-item {
    list-style: none;
    height: 50px;
    width: 50px;
    background-color: var(--color2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__links-item:hover {
    background-color: var(--color3);
    color: var(--color1);
}

.profile__links-item i {
    color: var(--color0);
    font-size: 1.5em;
}

.profile__links-item:hover i {
    color: var(--color1);
}

.profile__download-container {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.profile__download-button {
    width: 180px;
    padding: 10px;
    background-color: var(--color2);
    border: none;
    border-radius: 50px;
    font-family: var(--font-default);
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

.profile__download-button:hover {
    background-color: var(--color3);
    color: var(--color1);
}

/*---------- upward button -----------*/

.upward__button {
    display: none;
    position: fixed;
    top: 85vh;
    left: 92%;

    text-decoration: none;

    animation-name: showup;
    animation-timeline: view();
    animation-fill-mode: both;
    animation-range-start: cover 5%; 
}

.upward__button div {
    height: 70px;
    width: 70px;
    border: 2px solid var(--color1);
    background-color: var(--color3);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,1.57,.47,.86);
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.upward__button div:hover {
    animation-play-state: paused;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: var(--color1);
}

/*---------- services section ---------- */

.services {
    height: 640px;
    /*height: 610px; tamaño fijo en píxeles para que no colapsen los elementos internos al redimencionar la altura de la página*/
    background-color: var(--color2);
}

.services__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title {
    font-family: var(--font-heading);
    font-size: 2.5em;
    font-weight: normal;
    flex-grow: 0;
    padding: 15px 0 0 0;
}

.services__title-half {
    color: var(--color1);
}

.services__service-container {
    flex-grow: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-width: 1300px;
    width: 100%;
/*  min-height: 80vh; reemplazado por flex-grow*/
    padding: 12px; /*espacio entre items y contenedor*/
    gap: 12px; /*espacio entre items*/
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.services__service {
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--color1);
    border-radius: 10px;
}

.services__service:hover {
    outline: 2px solid var(--color1);
}

.services__service-name {
    font-family: var(--font-default);
    font-weight: normal;
    text-align: center;
}

.service--background-web-dev {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #0009), url('../img/web-development.jpg');
    background-size: cover;
    background-position: center center;
}

.service--background-app-dev {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #0009), url('../img/app-development.jpg');
    background-size: cover;
    background-position: center;
}

.service--background-rebranding {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #0009), url('../img/branding.jpg');
    background-size: cover;
    background-position: center;
}

.service--background-ux-ui {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #0009), url('../img/ux-ui.jpg');
    background-size: cover;
    background-position: center;
}

.service--background-photography {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #0009), url('../img/photography.jpg');
    background-size: cover;
    background-position: center;
}

.service--background-seo-marketing {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #0009), url('../img/seo.jpg');
    background-size: cover;
    background-position: center;
}

/*---------- skills section ---------- */
.skills {
    height: auto;
    /*height: 610px; tamaño fijo en píxeles para que no colapsen los elementos internos al redimencionar la altura de la página*/
    background-color: var(--color0);
    color: var(--color1);
}

.skills__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills__metrics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 40px 20px 40px;
}

.skills__title {
    font-family: var(--font-heading);
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 15px;
}

.skills__title-half {
    color: var(--color2);
}

.skills__img-container {
    display: none;
}

.skills__metrics-description h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.skills__metrics-description p {
    font-size: 0.9em;
    text-wrap: pretty;
}

.skills__container ul {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills__skills-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    gap: 5px;
}

.load__bar {
    width: 100%;
    height: 25px;
    background-color: #545355;
}

.load__bar-bar {
    background-color: var(--color2);
    height: 100%;
    font-family: var(--font-heading);
    font-weight: normal;
}

.bar--90 {
    width: 90%;
}

.bar--80 {
    width: 80%;
}

.bar--60 {
    width: 60%;
}

.bar--70 {
    width: 70%;
}

.load__bar-percentage {
    display: block;
    padding: 3px 3px;
}

/*---------- contact section ---------- */

.form {
    height: auto;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    color: var(--color1);
}

.form__title {
    font-family: var(--font-heading);
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 15px;
}

.form__form {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form__input-container input {
    border: none;
    height: 28px;
    padding-left: 10px;
    font-family: inherit;
    border-radius: 5px;
}

.form__input-container input:focus-visible {
    outline: none;
}

.form__input-container textarea {
    height: 84px;
    border: none;
    resize: none;
    font-family: inherit;
    padding: 5px 8px;
    border-radius: 5px;
}

.form__input-container textarea:focus-visible {
    outline: none;
}

.form__input-button {
    background-color: var(--color2);
    color: var(--color0);
    font-weight: bold;
}

.form__input-button:hover {
    outline: 2px solid var(--color1);
    color: var(--color1);
}

footer {
    height: 80px;
    background-color: var(--color0);
    color: var(--color1);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
    padding-left: 30px;
}

/*end*/

/*---------- animations ---------- */


@keyframes bounce {
    0% { transform: translateY(0); }
    25% {transform: translateY(-10px);}
    50% { transform: translateY(0); }
}

@keyframes showup {
    from {
        left: 110%;
    }
    to {
        left: 92%;
    }
}