
/* ---------- header section ---------- */

.header__button {
    display: none;
}

.header__nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    background-color: inherit;
}

.header__nav-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header__nav-item {
    border: none;
    background-color: var(--color2);
    text-align: center;
    padding: 0;
    margin: 10px 5px; /*!*/
}

.header__nav-item:first-child {
    border: none;
    width: 85px;
}

.header__nav-item:nth-child(2) {
    width: 110px;
}

.header__nav-item:nth-child(3) {
    width: 80px;
}

.header__nav-item:last-child {
    width: 75px;
}

.header__nav-item a {
    display: block;
    color: var(--color0);
    white-space: nowrap;
}

.header__nav-item:hover a {
    font-weight: bold;
    color: var(--color1);
}

/* ---------- profile section ---------- */

.profile__mobile-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__mobile-title {
    width: 600px;
    font-size: 3.5em;
}

.profile__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- services section ---------- */

.services__service-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
}

.services__service:first-child {
    grid-column: span 2;
}

.services__service:last-child {
    grid-column: span 2;
}

/* ---------- skills section ---------- */

.skills__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 40px 40px 40px;
}

.skills__img-container {
    display: block;
    height: 585px;
}

.skills__img {
    height: 585px;
    width: 300px;
    object-fit: cover;
    object-position: right;
    border-radius: 10px 0 0 10px;
}

.skills__metrics-container {
    margin: 0;
    height: 585px;
    border-top: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
    border-radius: 0 10px 10px 0;
}

.skills__metrics-description {
    width: 90%;
    padding-top: 16px;
    padding-left: 20px;
}

.skills__metrics-container ul {
    padding-left: 20px;
    padding-bottom: 15px;
}